@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 1200px;
  margin: 0 auto;
  font-family: 微軟正黑體; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  position: relative;
  background-color: #424242;
  height: 400px; }
  .header img {
    position: absolute;
    left: 20%;
    top: 35%; }
  .header .count {
    position: absolute;
    left: 38%;
    top: 32%; }
    .header .count p {
      font-size: 24px;
      color: #ffd366;
      padding-top: 3px;
      padding-bottom: 3px; }
    .header .count input {
      font-size: 22px;
      padding: 3px;
      border: 3px solid #ffd366;
      border-radius: 5px;
      background-color: #646464;
      color: #FFF; }
  .header .result {
    position: absolute;
    left: 70%;
    top: 35%; }
    .header .result .resultbtn {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      color: #000;
      text-decoration: none;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      font-size: 32px;
      background-color: #ffd366;
      border: 0 solid;
      font-family: 微軟正黑體; }
    .header .result .bmi-result {
      width: 130px;
      height: 130px;
      border: 8px solid red;
      border-radius: 50%;
      display: none; }
      .header .result .bmi-result a {
        position: absolute;
        left: 72%;
        top: 72%;
        display: block;
        background-color: red;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url(../assets/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center; }
      .header .result .bmi-result .number {
        position: absolute;
        left: 23%;
        top: 30%;
        color: #FFF;
        font-size: 32px;
        text-align: center; }
        .header .result .bmi-result .number span {
          font-size: 18px; }
    .header .result .resultbtn:active {
      background-color: #dea821; }
  .header .evaluation {
    position: absolute;
    left: 85%;
    top: 48%;
    font-size: 36px; }

.content {
  padding-bottom: 100px;
  background-color: #f5f5f5; }
  .content h2 {
    text-align: center;
    font-size: 32px;
    line-height: 4; }
  .content .record {
    width: 700px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #FFF; }
    .content .record .record-data ul {
      margin: 0 a; }
    .content .record .record-data li {
      line-height: 2.6;
      float: left;
      font-size: 24px;
      margin-left: 30px; }
    .content .record .record-data span {
      font-size: 14px;
      margin-left: 20px;
      margin-right: 7px;
      line-height: 2; }

.blue {
  border-left: 10px solid #31baf9; }

.green {
  border-left: 10px solid #86d73f; }

.yellow {
  border-left: 10px solid #ff982d; }

.orange {
  border-left: 10px solid #ff6c03; }

.red {
  border-left: 10px solid #ff1200; }
